<tr>
  <td>
    <h2>{{ this.hardware_target }}</h2>
    {% for tag in this.tags %}
      {{ tag }}
    {% endfor %}
  </td>
  <td>
    <a href="https://ftp.freedombox.org/pub/freedombox/stable-2017.06/{{ this.filename }}"
       class="bluebutton">
      stable img <em>({{ this.size }} MiB)</em></a>
    <a href="https://ftp.freedombox.org/pub/freedombox/stable-2017.06/{{ this.signature_filename }}"
       class="signature">signature</a>
  </td>
</tr>
